certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
iniconfig==2.0.0
packaging==23.1
pip==23.1.2
pluggy==1.2.0
pytest-mock==3.11.1
pytest==7.4.0
python-dotenv==1.0.0
requests==2.31.0
setuptools==68.0.0
urllib3==2.0.4
wheel==0.40.0
